.Console {
    text-align: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
}

.Console textarea {
    width: 100%;
    background: transparent;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Consolas,Lucida Console,Courier New,monospace;
    white-space: pre-wrap;
    font-size: 12px;
    color: rgba(255,255,255,0.9);
    border: none;
    resize: none;
    margin-bottom: 1em;
    outline: none;
    padding-left: 5ch;
}