.DeviceScreen {
    box-shadow: rgb(0, 0, 0) 0 0 0 0.5px, rgba(0, 0, 0, 0.8) 0 0 20px;
    position: relative;
    margin: 0;
}

.DeviceScreen canvas, .DeviceScreen > img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.DeviceScreen > img {
    z-index: 0;
}

.DeviceScreen canvas {
    mix-blend-mode: screen;
/*    opacity: 0;
    transition: opacity 300ms;
    transition-delay: 300ms;
}

.DeviceScreen canvas.visible-canvas {
    opacity: 1;
    transition-delay: 0; */
}

.DeviceScreen__keyGrabber {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
    border: 0 none;
    cursor: default;
    font-size: 0;
}

.DeviceScreen__keys {
    position: absolute;
    bottom: -35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.Keys button {
    -webkit-appearance: none;
    background: transparent;
    outline: none;
    border: 1px solid silver;
    vertical-align: middle;
    border-radius: 3px;
    height: 18px;
    margin: 0 15px;
    padding: 1px 5px;
    opacity: 0.3;
    position: relative;
    cursor: pointer;
}

.Keys img {
    height: auto;
    width: auto;
    max-height: 10px;
    pointer-events: none;
}

.Keys__red, .Keys__blue, .Keys__green, .Keys__yellow {
    border-radius: 50% !important;
    width: 18px;
    border-color: gray !important;
}

.Keys button.Keys__red {
    background-color: red;
}

.Keys button.Keys__blue {
    background-color: royalblue;
}

.Keys button.Keys__green {
    background-color: green;
}

.Keys button.Keys__yellow {
    background-color: yellow;
}

.Keys span {
    font-size: 14px;
    color: silver;
    opacity: 0;
    transition: 300ms opacity;
}

.Keys > span {
    flex-grow: 1;
    text-align: left;
}

.Keys button span {
    position: absolute;
    left: -15px;
    right: -15px;
    font-size: 9px;
    bottom: -18px;
    white-space: nowrap;
    text-align: center;
    transition-duration: 0ms !important;
    transition-delay: 200ms;
}

.Keys--inputFocused > span {
    opacity: 0.3;
}

.Keys--inputFocused.Keys--ctrlDown button span {
    opacity: 1;
}