.MainView {
    height: 100vh;
    display: flex;
    flex-direction: column !important;
    position: relative;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    flex-grow: 1;
}

.MainView__Bar {
    flex: none;
    background-color: hsl(0, 0%, 3%);
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: #fff;
}

.MainView__Bar .Bar__item {
    position: relative;
    display: flex;
    background-color: transparent;
    flex: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 26px;
    border: none;
    white-space: pre;
    color: inherit;
}

.MainView__Bar button {
    white-space: nowrap;
    overflow: hidden;
    min-width: 28px;
    background: transparent;
    border-radius: 0;
}

.MainView__Screen {
    flex: 1;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.MainView__Console {
    border-top: 2px solid #000;
    width: 100%;
    height: 25%;
}