.Sidebar {
    width: 400px;
    border-left: 1px solid black;
    background-color: hsl(0, 0%, 15%);
}

.Sidebar__toolbar {
    background-color: hsl(0, 0%, 11%);
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: #fff;
}

.Toolbar__button {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    -ms-flex: none;
    flex: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10px;
    height: 26px;
    border: none;
    white-space: pre;
    color: inherit;
}

.Sidebar__inner {
    overflow-y: auto;
    max-height: calc(100vh - 28px);
    text-align: left;
    display: flex;
    flex-direction: column;
    font-family: Consolas,Lucida Console,Courier New,monospace;
    white-space: pre-wrap;
    font-size: 13px;
    line-height: 1.4;
}

.Sidebar__Elements {
    color: gray;
    padding: 10px 0 0 10px;
    margin: 0;
    list-style: none;
    overflow-y: auto;
}

.Element a {
    cursor: pointer;
}

.Element--active {
    color: #fff;
}

.Element--current {
    background: rgba(255, 255, 255, 0.2);
}

.Element__currentElement {
    color: #fff;
    padding: 0 10px 10px;
}

.Element__currentElement h3 {
    font: inherit;
    font-size: 16px;
}

.Element__currentElement h3 span {
    font-size: 12px;
    display: block;
    float: right;
    background: darkslategray;
    border: 1px solid orange;
    padding: 0 4px;
    cursor: help;
}