.ThemaVisualiser {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
}

.ThemaVisualiser__widget {
    position: absolute;
    border: 1px solid orange;
    background-color: rgba(4, 160, 126, 0.4);
    color: white;
    opacity: 0.8;
}

.ThemaVisualiser__widget:hover {
    opacity: 0.5;
}

.ThemaVisualiser__widget span, .ThemaVisualiser__widget label {
    float: left;
    font-size: 14px;
    padding: 2px 8px;
}

.ThemaVisualiser__widget span {
    float: right;
}